.bg-1 {
    width: 17px; height: 15px;
    background: url('css_sprites.png') -3px -3px;
}

x
.bg-2 {
    width: 17px; height: 15px;
    background: url('css_sprites.png') -26px -3px;
}

x
.bg-3 {
    width: 19px; height: 16px;
    background: url('css_sprites.png') -49px -3px;
}

x
.bg-4 {
    width: 19px; height: 16px;
    background: url('css_sprites.png') -74px -3px;
}

x
.bg-5 {
    width: 21px; height: 19px;
    background: url('css_sprites.png') -386px -3px;
}

x
.bg-6 {
    width: 21px; height: 19px;
    background: url('css_sprites.png') -359px -3px;
}

x
.bg-f2 {
    width: 20px; height: 20px;
    background: url('css_sprites.png') -151px -3px;
}

x
.bg-fb {
    width: 20px; height: 20px;
    background: url('css_sprites.png') -177px -3px;
}

x
.bg-google {
    width: 20px; height: 20px;
    background: url('css_sprites.png') -333px -3px;
}

x
.bg-google2 {
    width: 20px; height: 20px;
    background: url('css_sprites.png') -229px -3px;
}

x
.bg-mail {
    width: 20px; height: 20px;
    background: url('css_sprites.png') -255px -3px;
}

x
.bg-mail2 {
    width: 20px; height: 20px;
    background: url('css_sprites.png') -281px -3px;
}

x
.bg-twitter {
    width: 20px; height: 20px;
    background: url('css_sprites.png') -307px -3px;
}

x
.bg-twitter2 {
    width: 20px; height: 20px;
    background: url('css_sprites.png') -125px -3px;
}

x
.bg-vk {
    width: 20px; height: 20px;
    background: url('css_sprites.png') -99px -3px;
}

x
.bg-vk2 {
    width: 20px; height: 20px;
    background: url('css_sprites.png') -203px -3px;
}