@font-face {
	font-family: 'Gotham Pro';
	src: url('../font/hinted-subset-GothamPro-Light.woff2') format('woff2'), url('../font/hinted-subset-GothamPro-Light.woff') format('woff');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Gotham Pro';
	src: url('../font/hinted-subset-GothamPro-LightItalic.woff2') format('woff2'), url('../font/hinted-subset-GothamPro-LightItalic.woff') format('woff');
	font-weight: 300;
	font-style: italic;
}

@font-face {
	font-family: 'Gotham Pro';
	src: url('../font/hinted-subset-GothamPro-Bold.woff2') format('woff2'), url('../font/hinted-subset-GothamPro-Bold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

*, *::before, *::after {
	box-sizing: border-box;
  }

body, html {
	width: 100%;
	height: 100%;
}

body {
	font-family: 'Gotham Pro', sans-serif;
	font-weight: normal;
	font-style: normal;
	color: #221f1f;
}

.wrapper {
	min-height: 100%;
	min-width: 1100px;
	overflow: hidden;
}

.wrapper::after {
	content: '';
	display: block;
	height: 76px;
}

.container {
	width: 1100px;
	margin: 0 auto;
}

.header,
.footer {
	min-width: 1100px;
	height: 76px;
	background-color: #27273e;
}

.header__left {
	float: left;
	width: 50%;
	padding-top: 12px;
	padding-left: 20px;
}

.logo {
	position: relative;
	display: inline-block;
}

.logo__title {
	position: absolute;
	top: 0;
	margin: 0;
	padding: 0;
	left: -9999px;
}

.header__right {
	float: right;
	width: 50%;
	padding-top: 18px;
	padding-right: 18px;
	text-align: right;
}

.contact {
	display: inline-block;
}

.contact__phone {
	display: block;
	margin: 0;
	margin-bottom: 1px;
	padding: 0;
	color: white;
	font-size: 21px;
	font-weight: bold;
	text-decoration: none;
}

.schedule {
	position: relative;
}

.schedule__title {
	color: rgba(236, 30, 121, 0.7);
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: 400px;
	letter-spacing: 1px;
	text-decoration: underline;
	cursor: pointer;
	transition: all .5s;
}

.schedule:hover .schedule__title {
	color: rgba(93, 209, 248, 0.7);
}

.schedule__text {
	position: absolute;
	top: 100%;
	left: -9999px;
	opacity: 0;
	min-width: 160px;
	margin-top: 22px;
	margin-right: 2px;
	padding: 15px 10px;
	border-radius: 4px;
	background: rgba(255, 255, 255, .95);
	box-shadow: 0px 0px 10px 0px rgba(23, 59, 117, 0.55);
	font-size: 14px;
	text-align: left;
	z-index: 100;
	transition: opacity .5s;
}

.schedule__text::before {
	content: '';
	position: absolute;
	top: 0;
	right: 3px;
	border: 10px solid transparent;
	border-bottom: 10px solid rgba(255, 255, 255, .95);
	margin-top: -20px;
	z-index: 110;
}

.schedule__text::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 25px;
	margin-top: -25px;
}

.schedule__work-days {
	display: block;
	font-weight: bold;
	color: #ec1e79;
	margin-bottom: 7px;
}

.schedule:hover .schedule__text {
	left: auto;
	right: 2px;
	opacity: 1;
}

.sidebar {
	float: left;
	width: 180px;
	padding-top: 46px;
	padding-left: 20px;
}

.menu {
	width: 160px;
}

.main-menu {
	margin: 0;
	padding: 0;
	list-style: none;
}

.main-menu__item {
	position: relative;
	margin-bottom: 31px;
}

.main-menu__item:last-child {
	margin-bottom: 0;
}

.main-menu__link {
	padding-left: 38px;
	color: #ec1e79;
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 1px;
	transition: all .5s;
}

.main-menu__link:hover {
	color: #221f1f;
}

.main-menu__img::before {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	width: 20px;
	height: 20px;
	background-image: url(../img/icon/sprite.png);
	background-repeat: no-repeat;
	transition: all .35s;
}

.main-menu_img-main::before {
	background-position: 0 0px;
}

.main-menu_img-price::before {
	background-position: 0 -40px;
}

.main-menu_img-comment::before {
	background-position: 0 -82px;
}

.main-menu_img-main:hover::before {
	background-position: 0px -20px;
}

.main-menu_img-price:hover::before {
	background-position: 0 -61px;
}

.main-menu_img-comment:hover::before {
	background-position: 0 -106px;
}

.main-menu__link_active {
	color: #221f1f;
}

.main-menu_img-main.main-menu__link_active::before {
	background-position: 0 -20px;
}

.main-menu_img-price.main-menu__link_active::before {
	background-position: 0 -61px;
}

.main-menu_img-comment.main-menu__link_active::before {
	background-position: 0 -106px;
}

.breadcrumb {
	margin: 0;
	padding: 0;
	padding-top: 42px;
	list-style: none;
}

.breadcrumb__item {
	display: inline-block;
}

.breadcrumb__item::after {
	content: " /";
	font-family: 'Gotham Pro', sans-serif;
	font-size: 14px;
	color: #221f1f;
}

.breadcrumb__item:last-child::after {
	content: "";
}

.breadcrumb__link {
	color: #ec1e79;
	font-size: 14px;
	font-weight: 300;
	font-style: italic;
	transition: all .5s;
}

.breadcrumb__link:hover {
	text-decoration: none;
	color: #221f1f;
}

.breadcrumb__link_active {
	color: #221f1f;
	text-decoration: none;
	pointer-events: none;
}

.title {
	margin: 0;
	margin-bottom: 36px;
	padding: 0;
	padding-top: 20px;
	font-weight: bold;
	font-size: 49px;
}

.conten {
	float: right;
	width: 900px;
	margin-left: 20px;
}

.footer {
	margin-top: -76px;
}

.footer__cel {
	float: left;
	width: 33.33%;
}

.description {
	margin: 0;
	padding-top: 11px;
	padding-left: 20px;
	color: white;
	font-size: 14px;
	line-height: 18px;
}

.description__link {
	color: white;
	transition: all .5s;
}

.description__link:hover {
	color: rgba(93, 209, 248, 0.7);
}

.description__author {
	font-weight: bold;
}

.logo-footer {
	padding-top: 14px;
	text-align: center;
}

.socials {
	padding-top: 18px;
	padding-right: 20px;
	text-align: right;
}

.sosials__head {
	margin: 0;
	margin-bottom: 7px;
	padding: 0;
	color: white;
	font-weight: bold;
	font-size: 14px;
}

.socials__list {
	margin: 0;
	margin-right: 29px;
	padding: 0;
	list-style: none;
	font-size: 0;
}

.socials__iteem {
	display: inline-block;
	margin-left: 10px;
}

.socials__link {
	display: block;
	width: 20px; 
	height: 20px;
	background-image: url(../img/icon/sprite.png);
	background-repeat: no-repeat;
	transition: all .5s;
}

.socials__link_vk {
	background-position: 0 -330px;
}

.socials__link_vk:hover {
	background-position: 0 -355px;
}

.socials__link_fb {
	background-position: 0 -130px;
}

.socials__link_fb:hover {
	background-position: 0 -155px;
}

.socials__link_google {
	background-position: 0 -180px;
}

.socials__link_google:hover {
	background-position: 0 -205px;
}

.socials__link_tw {
	background-position: 0 -280px;
}

.socials__link_tw:hover {
	background-position: 0 -305px;
}

.socials__link_mail {
	background-position: 0 -230px;
}

.socials__link_mail:hover {
	background-position: 0 -255px;
}